.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.story-reminder {
  font-weight: normal;
}

.input-box {
  display: flex;
  width: 1000px;
  background: #fff;
  border: 1px solid #a0a0a0;
}

.input-box .prefix {
  max-width: 250px;
  font-size: 20pt;
  text-align: end;
  color: #999;
  padding: 2px 4px;
  border-right: 2px dashed #999;
  margin-right: 4px;
}

.pre-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  direction: rtl;
}

.story-text-area {
  flex-grow: 1;
  font-size: 20pt;
  font-family: inherit;
  overflow-y: auto;
  resize: none;
  outline: none;
  border: none;
}

.game-board > p {
  font-size: 16pt;
  margin: 0.5rem 0rem;
}

.game-board > input {
  display: block;
  font-size: 24pt;
  padding: 0.25rem 0rem;
}

.story {
  white-space: pre-line;
  word-wrap: break-word;
  width: 1000px;
}
